.form-file-custom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-file {

  /* border: 2px solid red; */
  width: 500px;
}

.upload__tip {
  font-size: 1rem;
}

.text_upload {
  font-size: 1.2rem!important; 
}

.icon-loading{
  margin: 20px;
  height: 30px;
  width: 30px;
  animation-name: spin;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 

}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;  
  border: solid red 1px;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}