.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  margin-top: -150px;
  border: 2px solid red;
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 50%;
}

.card {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.footer {
  display: flex;
}

.text-white {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
